{
  "TOKEN": "ODIzNDEzNjM2NDU0MTU0MjQy.YFgdtQ.QYcv5FYsBvK25rlOTfvFjEIMguw",
  "YOUTUBE_API_KEY":"AIzaSyAoVptuTNzLR381ns51RDc5j-ek9iZwZYw",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "ad!",
  "LOCALE": "en",
  "support_server": "",
  "PRUNING": false,
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
